<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">"I am just another Alice who's trying to find her way out of her head and into a wonderland."</br> -Vazaki Nada</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/grad-day.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014</h4>
                                    <h4 class="subheading">I earned a piece of paper</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated from the University of Lethbridge with a B.Sc. in Neuroscience. Aside from fulfilling my need for a challenge, my degree gave me a psychological and biological understanding of people.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/jande.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2016</h4>
                                    <h4 class="subheading">Populating the world</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I create beautiful things! Just check out my kids! My son was born soon after I graduated and my husband and I gave him a little sister a year and a half later. They are my inspiration!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017</h4>
                                    <h4 class="subheading">Retraining</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my new career path at the start of the year. Web development courses in HTML, CSS, Wordpress and PHP. I've also received training in social media marketing. I've loved everything I've learned so far and have plans to continue learning the various web languages.</p>
                                </div>
                            </div>
                        </li>
                       <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> ---->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>